aiohttp
arrow
autopep8
beautifulsoup4
bokeh
category-encoders
dash
descartes
fastapi
flask
flask-cors
geopandas
gunicorn
hyperopt
ipykernel
ipython
ipython_genutils
ipywidgets
jinja2
joblib
jupyter
jupyter_contrib_nbextensions
jupyterlab_server
jupyterlab
mapclassify
matplotlib
nbclient
nbconvert
netCDF4
nltk
notebook
opencv-python
pandas
pillow
plotly
prophet
pycaret
pykrige
pymongo[srv]
pymysql
scikit-image
scipy
scikit-learn
seaborn
selenium
setuptools
shapash
sqlalchemy
statsmodels
streamlit
tensorflow
urllib3
werkzeug
wheel
xarray
xgboost
