arrow
beautifulsoup4
bokeh
category-encoders
curl
dash
fastai
flask
flask-cors
geopandas
gradio
gunicorn
h5py
hyperopt
ipykernel
ipython
ipython_genutils
ipywidgets
jinja2
joblib
json5
jupyter
jupyterlab_server
matplotlib
nbclient
nbconvert
netCDF4
nltk
numpy
opencv-python
orange3
pandas
pandas-profiling
pillow
plotly
prophet
pycaret
pykrige
pymongo[srv]
pymysql
pyqt5
pytorch
requests
scikit-image
scipy
scikit-learn
seaborn
selenium
selenium
setuptools
spyder
sqlalchemy
sqlalchemy
statsmodels
streamlit
tensorflow
urllib3
werkzeug
wheel
xarray
xgboost
